<!-- Counters -->
<section id="bg-counters" class="padding bg-counters parallax">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
        <div class="counters whitecolor top10 bottom10">
          <span class="count_nums font-light" data-to="<%= years %>" data-speed="<%= data_speed %>"> </span>
        </div>
        <h3 class="font-light whitecolor top20">12 лет опыта производства промоборудования</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <p class="whitecolor top20 bottom20 font-light title">Колоссальный опыт многих лет проектирования, производства и эксплуатации наших линий порошковой окраски позволяет нам выступать экспертами в данной отрасли производства.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
        <div class="counters whitecolor top10 bottom10">
          <span class="count_nums font-light" data-to="<%= items %>" data-speed="<%= data_speed %>"> </span>
        </div>
        <h3 class="font-light whitecolor top20">Свыше полутора тысяч изготовленных линий</h3>
      </div>
    </div>
  </div>
</section>
<!-- Counters ends-->