<!--Some Feature -->
<section id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-md-7 col-sm-7 text-sm-start text-center wow fadeInLeft" data-wow-delay="300ms">
        <div class="heading-title mb-4">
          <h2 class="darkcolor font-normal bottom30">Создай своё <span class="defaultcolor">Собственное</span> производство</h2>
        </div>
        <p class="bottom35">Начните зарабатывать на предоставлении услуг полимерно-порошковой покраски, имея в распоряжении новейшее инновационное промышленное оборудование "Color Group", позволяющее высококачественно и экономично окрашивать любые металлические изделия и заготовки</p>
        <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Learn More</a>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
        <div class="image"><img alt="SEO" src="<%= asset_path 'awesome-feature.png' %>"></div>
      </div>
    </div>
  </div>
</section>
<!--Some Feature ends-->