<!--Pricing Start-->
<section id="pricing" class="padding bglight">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="300ms">
          <h2 class="font-normal"> Варианты обслуживания  </h2>
          <span class="defaultcolor mb-5 mt-3">Выберете наиболее подходящий для вашего будущего предприятия </span>

        </div>
      </div>
<!--      <div class="col-12 text-center ">-->
<!--        <div class="price-toggle-wrapper heading_space">-->
<!--          <span class="Pricing-toggle-button month active">Monthly</span>-->
<!--          <span class="Pricing-toggle-button year">Yearly</span>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="owl-carousel owl-theme no-dots" id="price-slider">
      <div class="item">
        <div class="col-md-12">
          <div class="pricing-item wow fadeInUp animated" data-wow-delay="300ms" data-sale="6">
            <h3 class="font-light darkcolor">База</h3>
            <p class="bottom30">Начальный уровень</p>
            <div class="pricing-price darkcolor"><span class="pricing-duration">Роялти: </span><span class="pricing-currency">6%</span> в <span class="pricing-duration">месяц</span></div>
            <ul class="pricing-list">
              <li>Комплект оборудования</li>
              <li>Обучение персонала</li>
              <li>Техническая поддержка</li>
              <li>Стандарты и инструкции</li>
              <li class="price-not">Интернет маркетинг</li>
              <li class="price-not">Помощь в HR</li>
              <li class="price-not">Поиск помещения</li>
              <li class="price-not">Персональный менеджер</li>
            </ul>
            <a class="button" href="javascript:void(0)">Choose plan</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="col-md-12">
          <div class="pricing-item wow fadeInUp animated" data-wow-delay="380ms" data-sale="10">
            <h3 class="font-light darkcolor">Стандарт</h3>
            <p class="bottom30">Наиболее востребованный</p>
            <div class="pricing-price darkcolor"><span class="pricing-duration">Роялти: </span><span class="pricing-currency">10%</span> в <span class="pricing-duration">месяц</span></div>
            <ul class="pricing-list">
              <li>Комплект оборудования</li>
              <li>Обучение персонала</li>
              <li>Техническая поддержка</li>
              <li>Стандарты и инструкции</li>
              <li>Интернет маркетинг</li>
              <li>Помощь в HR</li>
              <li class="price-not">Поиск помещения</li>
              <li class="price-not">Персональный менеджер</li>
            </ul>
            <a class="button" href="javascript:void(0)">Choose plan</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="col-md-12">
          <div class="pricing-item wow fadeInUp animated" data-wow-deeay="400ms" data-sale="12">
            <h3 class="font-light darkcolor">Эксклюзив +</h3>
            <p class="bottom30">Бизнес под ключ!</p>
            <div class="pricing-price darkcolor"><span class="pricing-duration">Роялти: </span><span class="pricing-currency">12%</span> в <span class="pricing-duration">месяц</span></div>
            <ul class="pricing-list">
              <li>Комплект оборудования</li>
              <li>Обучение персонала</li>
              <li>Техническая поддержка</li>
              <li>Стандарты и инструкции</li>
              <li>Интернет маркетинг</li>
              <li>Помощь в HR</li>
              <li>Поиск помещения</li>
              <li>Персональный менеджер</li>
            </ul>
            <a class="button" href="javascript:void(0)">Choose plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Pricing ends-->