<!-- WOrk Process-->
<section id="our-process" class="padding bgdark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
          <span>Итак, как же действовать?</span>
          <h2 class="fw-normal">Понедельный план запуска цеха</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="process-wrapp">
        <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
          <span class="pro-step bottom20">01</span>
          <p class="fontbold bottom25 text-warning">Договор</p>
          <p class="mt-n2 mt-sm-0">Согласование и подписание договора, утверждение парка оборудования, сроков поставки и запуска</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
          <span class="pro-step bottom20">02</span>
          <p class="fontbold bottom25 text-warning">Помещение</p>
          <p class="mt-n2 mt-sm-0">Совместный поиск подходящего производственного помещения, помогаем заключить договор аренды</p>
        </li>
        <li class="whitecolor wow fadeIn active" data-wow-delay="500ms">
          <span class="pro-step bottom20">04</span>
          <p class="fontbold bottom25 text-warning">Персонал</p>
          <p class="mt-n2 mt-sm-0">Внимательно подбираем и обучаем будущий персонал (маляры, слесари, начальник производства)</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
          <span class="pro-step bottom20">05</span>
          <p class="fontbold bottom25 text-warning">Оборудование</p>
          <p class="mt-n2 mt-sm-0">Пока идет поиск помещения и персонала мы заняты производством Вашего комплекта оборудования</p>
        </li>
        <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
          <span class="pro-step bottom20">06</span>
          <p class="fontbold bottom25 text-warning">Запуск</p>
          <p class="mt-n2 mt-sm-0">Шеф-монтаж и запуск производственной линии в эксплуатацию при поддержке наших инженеров</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--WOrk Process ends-->