<!--Some Services-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="services-slider" class="owl-carousel">
        <div class="item">
          <div class="service-box">
            <span class="bottom25"><i class="fa fa-clipboard"></i></span>
            <h4 class="bottom10 text-nowrap"><a href="javascript:void(0)">Быстрый старт</a></h4>
            <p>Четко отработанная процедура запуска позволит быстро развернуть свое собственное производство</p>
          </div>
        </div>
        <div class="item">
          <div class="service-box">
            <span class="bottom25"><i class="fa fa-laptop"></i></span>
            <h4 class="bottom10"><a href="javascript:void(0)">Точка безубыточности</a></h4>
            <p>Исходя из нашего опыта в отрасли Вы начнете получать прибыль уже через 3 месяца после запуска</p>
          </div>
        </div>
        <div class="item">
          <div class="service-box">
            <span class="bottom25"><i class="fa fa-globe"></i></span>
            <h4 class="bottom10"><a href="javascript:void(0)">Поддержка</a></h4>
            <p>Возможно, Вы новичок в производстве, поэтому мы всегдя рядом чтобы помочь и поддержать Вас</p>
          </div>
        </div>
        <!--                 <div class="item">
                            <div class="service-box">
                                <span class="bottom25"><i class="fa fa-edit"></i></span>
                                <h4 class="bottom10"><a href="javascript:void(0)">Clean Coded</a></h4>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-box">
                                <span class="bottom25"><i class="fa fa-globe"></i></span>
                                <h4 class="bottom10"><a href="javascript:void(0)">SEO Optimized</a></h4>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                            </div>
                        </div> -->
      </div>
    </div>
  </div>
</div>
<!--Some Services ends-->